
  @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Dosis:wght@600&family=Jost:wght@700&family=Nunito:wght@500&family=Orbitron:wght@700&family=Quicksand:wght@500&family=Righteous&display=swap');

html{
    height: 100%;
}
body{
    display: grid;
    place-items: center;
    background-color:  #131419;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clock{
   background-color:  #131419;
   height: 120px;
   width: 540px;
   margin-top: 310px;
   line-height: 120px; 
   text-align: center;
   padding: 0 10px;
   box-shadow: -3px -3px 7px rgba(255,255,255,0.05),
                3px 3px 5px rgba(0,0,0,0.5);
}
.clock .display{
    font-size: 60px;
    color: rgb(0, 238, 255);
    font-family: 'Orbitron', sans-serif;

    letter-spacing: 5px;
}